<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<script>
Kakao.init('e8306555fe7451c09264a33d27743639');
function kakaoshare() {
  Kakao.Link.sendDefault({
    objectType: 'feed',
    content: {
      title: '{{ page.title }}',
      description: '{{ page.description}}',
      imageUrl:
        '{{ site.url }}{{ page.feature }}',
      link: {
        mobileWebUrl: '{{ site.url }}{{ page.permalink }}?utm_source=kakaotalk&utm_medium=social&utm_campaign=공유하기'
      },
    },
    buttons: [
      {
        title: '자세히 보기 ',
        link: {
          mobileWebUrl: '{{ site.url }}{{ page.permalink }}?utm_source=kakaotalk&utm_medium=social&utm_campaign=공유하기'
        },
      },
    ]
  });
}
</script>
